* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy, Arial, sans-serif;
  background-color: #030120;
  color: rgb(255, 166, 0);
  line-height: 1.6;
}

header {
  width: 100%;
  height: 80px;
  background-color: #1c0853;
}

nav {
  width: 1400px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 120px;
  height: 50px;
}

form {
  display: flex;
  gap: 10px;
}

form input[type="text"] {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: black;
}

form button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: orange;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #d4d460;
}

.results {
  width: 1600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  width: 400px;
  height: 690px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #0c022e;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
}

.card h1 {
  font-size: 28px;
  font-style: normal;
  text-align: center;
  width: 250px;
  color: orange
}

.card p {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  width: 300px;
  transition: color 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 350px;
  height: 518px;
  display: block;
  border-radius: 6px;
}

.card__info {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

